@media only screen and (max-width: 390px) {
    .wraper{
        width: 390px;
        height: 844px;
        background: var(--background);
        border-radius: 38px;
        display: flex;
        flex-direction: column;
    }
    .col-1{
        width: 100%;
        height: 43%;
        background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
        border-radius: 0;
        
       text-align: center;
    }
    h2{
        margin: 0;
        padding-top: 22px;
        font-family: hankenGrotesk;
        color: var(--main-back-shadow);
        font-size: 23px;
    }
    .circle{
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
       background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
        width: 150px;
        height: 150px;
        margin-top: 25px;
    }
    h1{
        color: var(--background);
        /* margin: 0; */
        font-family: hankenGrotesk;
        margin-top: 23px;
    }
    p{
        break-inside: unset;
        text-align: center;
        font-size: var(--p-font-size);
        font-family: hankenGrotesk;
        font-weight: bold;
        color: var(--main-back-shadow);
        margin-top: 6px;
    }
    br{
        display: none;
    }
    .col-2{
        width: 100%;
        height: 60%;
        padding-left: 2px;
        
       
    }
    .row-1{
        /* justify-content: space-between; */
        margin-left: 50px;
       
    }
    .row-2{
        margin-left: 50px;
       
    }
    .row-3{
        margin-left: 50px;
       
    }
    .row-4{
        margin-left: 50px;
       
    }
    button{
        margin-left: 50px;
    }
    .h1{
        margin-left: 50px;
    }
    
}